.par-nav {
  color: $pink;
  position: absolute;
  background-image: url("./assets/images/goldfish.gif");
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: rgba($white, 0.95);
  background-position: bottom left;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 20;
  padding-top: 2rem;
  padding-bottom: 2.25rem;
  position: absolute;
  top: -200px;
  opacity: 0;
  border-bottom: 5px solid $blue;

  @media screen and (max-width: $phone-wide) {
    background-size: 200px;
  }
}

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  #primary-menu {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      position: relative;
      padding: 0 3rem 0 3rem;

      @media screen and (max-width: $phone-wide) {
        padding: 0 1rem;
      }

      &:hover > a,
      &.focus > a {}
    }

    li.menu-item-has-children > a {
      padding-bottom: .5rem;
      font-weight: 600;
      cursor: auto;
    }

    a {
      display: block;
      text-decoration: none;
      color: $pink;
      text-transform: uppercase;
      font-size: 1rem;
    }

    ul.sub-menu {
      // float: left;
      // position: absolute;
      // top: 100%;
      // left: -999em;
      margin: 0;
      padding: 0;
      z-index: 99999;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0 0 0 -.35rem;
        line-height: normal;
        padding: 0 0 0.25rem 0 !important;

        a {
          color: $dark;
          text-transform: lowercase;
          display: inline-block;
          font-size: 1rem;
          padding: .1rem .3rem;

          &:hover {
            background: $blue;
            color: $white;
          }
        }
      }

      :hover > a,
      .focus > a {}

      a:hover,
      a.focus {}
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

// @media screen and (max-width: 37.5em) {
//   .menu-toggle {
//     display: none;
//   }

//   .main-navigation ul {
//     display: block;
//   }
// }

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}