.lity-close {
  font-size: 3.5rem;
  color: $pink;
  right: 5%;
  top: 5%;

  &:hover {
    font-size: 3.5rem;
    color: $yellow;
    right: 5%;
    top: 5%;
  }
}

body:not(.home) {
  .site-content {
    position: relative;
    padding-top: 5rem;
  }
}