.par-footer {
  font-size: .9rem;
  padding-top: 3rem;
  font-weight: 300;
  border-top: 2px solid $yellow;
  font-size: 1rem;

  &__main {
    display: flex;
    background-image: url("./assets/images/goldy.gif");
    background-repeat: no-repeat;
    background-position: 190px -10px;
    background-size: 120px;

    @media screen and (max-width: $phone-wide) {
      display: block;
    }

    a {
      color: $pink;
    }

    .copyright {
      font-size: .85rem;
      padding-top: .5rem;
    }

    .site-info {
      h3 {
        font-weight: 600;
        color: $purple;
        text-transform: uppercase;
        margin: 0;
        padding: 0 0 .5rem 0;
        font-size: .95rem;
      }
    }
  }

  .footer-menu {
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      padding: 0 2rem;

      @media screen and (max-width: $phone-wide) {
        padding: 1.5rem 0 0 0;
      }

      li {
        margin-right: 3rem;

        @media screen and (max-width: $phone-wide) {
          margin: 1rem 1.5rem 1rem 0;
        }
      }

      li.menu-item-has-children > a {
        padding-bottom: .5rem;
        color: $pink;
        text-transform: uppercase;
        font-weight: $font-heavy;
        display: inline-block;
      }

      a {
        color: $dark;

        &:hover {
          color: $blue;
        }
      }

      ul.sub-menu {
        display: block;
        margin: 0;
        padding: 0;

        li {
          padding: 0 0 .25rem 0;
          margin: 0;

          a {
            padding: .35rem 0;
          }
        }
      }
    }
  }

  .footer-logo img {
    max-width: 9rem;
  }

  .footer-address {
    padding-bottom: 1.25rem;
    display: block;
  }
}

// body.home .par-footer {
//   color: $dark;
//   border-top: 2px solid $white;

//   .footer-menu {
//     li.menu-item-has-children > a {
//       color: $blue--dark;
//     }

//     a {
//       color: $dark;
//     }
//   }
// }