.par-header {
  padding-bottom: .5rem;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 50;
  margin: 1rem auto 0 auto;
  left: 0;
  right: 0;
  &.active {
    background: rgba($pink, .9);
  }

  .site-branding {
    img {
      max-width: 200px;
    }
  }
}

.burger-menu {
  position: absolute;
  right: 0;
  z-index: 30;

  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s all;
    &:hover {
    	.fa {
    		color: $blue;
    	}
    }

    .fa {
      color: $white;
      font-size: 1.75rem;
    }
  }

  .close-btn {
    display: none;

    .fa {
    	color: $pink;
    }
  }
}