// Homepage
.par-slider {
    display: flex;
    height: 600px;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;

    &.slick-initialized {
        visibility: visible;
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        height: 300px;
    }

    &__slide {
        height: 600px;
        width: 100%;
        position: relative;
        overflow: hidden;
        transition: .5s all ease-in-out;

        a {
            top: 0;
            left: 0;
            display: block;
            line-height: 0;
            position: absolute;
            right: 0;
            text-align: right;
            text-decoration: none;
            height: 100%;
            transition: .5s all ease-in-out;
            z-index: 10;

            @media screen and (max-width: 480px) {
                height: 300px;
            }

            // &:before {
            //   background: linear-gradient($blue--dark, $dark);
            //   content: "";
            //   filter: saturate(98%);
            //   height: 100%;
            //   left: 0;
            //   opacity: 0;
            //   position: absolute;
            //   top: 0;
            //   width: 100%;
            // }

            &:hover {
                color: $pink;
                text-decoration: none;
                text-shadow: none;
                transition: .5s all ease-in-out;

                &:before {
                    opacity: .4;
                }

                h2 {
                    color: $pink;

                    // text-shadow: 3px 3px 0 rgba($pink, 0.4), -1px -1px 0 rgba($pink, 0.4), 1px -1px 0 rgba($pink, 0.4), -1px 1px 0 rgba($pink, 0.4), 1px 1px 0 rgba($pink, 0.4);
                    // transform: translateX(-1rem);

                    small {
                        // &:after {
                        //   width: 50px;
                        // }
                   
                    }
                }
            }

            h2 {
                bottom: 3.2rem;
                font-weight: 700;
                display: block;
                font-size: 3.25rem;
                color: $white;
                text-transform: uppercase;
                letter-spacing: -.15rem;
                line-height: 100%;
                margin: 0;
                padding: 0;
                position: absolute;
                transition: .3s all ease-in-out;
                right: 15%;
                max-width: 400px;

                @media screen and (max-width: 480px) {
                    font-size: 2rem;
                    width: auto;
                    right: 2%;
                }

                // text-shadow: 3px 3px 0 rgba($dark, 0.1), -1px -1px 0 rgba($dark, 0.1), 1px -1px 0 rgba($dark, 0.1), -1px 1px 0 rgba($dark, 0.1), 1px 1px 0 rgba($dark, 0.1);

                // &:before {
                //   border-top: 1px solid $white;
                //   content: "";
                //   position: absolute;
                //   top: -.5rem;
                //   right: 3rem;
                //   width: 120px;
                //   height: 2px;
                //   transition: .3s all;
                // }

                small {
                    color: $dark;
                    display: block;
                    font-size: 1.45rem;
                    font-weight: 600;
                    letter-spacing: .15rem;
                    line-height: normal;
                    margin-bottom: 0;
                    padding-bottom: .5rem;
                    position: relative;
                    text-shadow: none;
                    top: -1rem;

                    &:after {
                        content: "";
                        border-top: 4px solid $yellow;
                        width: 100px;
                        bottom: 0rem;
                        height: auto;
                        right: 1rem;
                        position: absolute;
                    }
                }
            }
        }
    }

    .slick-slide {
        background: $pink;
        margin: 0;
        width: 100%;
        height: 650px;
        transition: .3s all;

        &:focus {
            outline: none;
        }
    }

    .slick-next {
        background: rgba($yellow, 0.92);

        // box-shadow: 0 0 0 1px rgba($white, 0.6);
        // background-size: 16px;
        // background-position: center center;
        border: none;
        border-radius: 0;
        right: 0;
        opacity: 1;
        position: absolute;
        top: inherit;
        bottom: 0;
        height: 6rem;
        width: 6.5rem;

        &:before {
            content: "";
            background-image: url("./assets/images/arrow.svg");
            background-repeat: no-repeat;
            opacity: .85;
            height: 100%;
            width: 60px;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 24px;

            // content: "\f105";
            // color: rgba($white, 0.85);
            // display: inline-block;
            // font-family: FontAwesome;
            // font-size: 3rem;
            // height: auto;
            // margin-left: 0;
            // right: 0;
            // width: 20px;
            // position: relative;
            // top: 33%;
       
        }

        &:hover {
            background: rgba($dark, 0.8);
            box-shadow: none;
            background-size: 16px;
            background-position: center center;
            cursor: pointer;

            &:before {
                color: $purple;
            }
        }
    }

    .slick-prev {
        background: rgba($purple, 0.92);

        // box-shadow: 0 0 0 1px rgba($white, 0.6);
        border: none;

        // background-position: center center;
        border-radius: 0;
        height: 6rem;
        width: 6.5rem;
        left: inherit;
        right: 0;
        top: inherit;
        bottom: 96px;
        opacity: 1;
        position: absolute;
        z-index: 2;

        &:before {
            content: "";
            background-image: url("./assets/images/arrow.svg");
            background-repeat: no-repeat;
            opacity: .85;
            height: 100%;
            width: 60px;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 24px;
            transform: scaleX(-1);
            filter: FlipH;

            // content: "\f104";
            // color: rgba($white, 0.85);
            // display: inline-block;
            // font-family: FontAwesome;
            // font-size: 3rem;
            // height: auto;
            // margin-left: -6px;
            // right: 0;
            // position: relative;
            // top: 33%;
       
        }

        &:hover {
            background: rgba($dark, 0.8);
            box-shadow: none;
            color: $white;
            background-size: 16px;
            background-position: center center;
            cursor: pointer;

            &:before {
                color: $purple;
            }
        }
    }
}

.slick-prev,
.slick-next {
    font-size: 0;
}