// Homepage
.par-slider {
  display: flex;
  height: 650px;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 300px;
  }

  &__slide {
    height: 650px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: .5s all ease-in-out;
    &:hover {
    	transform: scale(1.08);
    }

    a {
      top: 0;
      left: 0;
      color: $white;
      display: block;
      line-height: 0;
      position: absolute;
      right: 0;
      text-align: right;
      text-decoration: none;
      height: 100%;
      transition: .5s all ease-in-out;
      z-index: 10;
      text-shadow: 3px 3px 0 rgba($pink, 0.8), -1px -1px 0 rgba($pink, 0.8), 1px -1px 0 rgba($pink, 0.8), -1px 1px 0 rgba($pink, 0.8), 1px 1px 0 rgba($pink, 0.8);

      &:before {
        background: linear-gradient($pink, $teal);
        content: "";
        filter: saturate(90%);
        height: 100%;
        left: 0;
        opacity: .75;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:hover {
        color: $pink;
        text-decoration: none;
        text-shadow: none;
        transition: all ease-in-out;

        &:before {
        	opacity: 0;
        }
      }

      h2 {
        bottom: -1.25rem;
        font-weight: 800;
        display: block;
        font-size: 4.25rem;
        text-transform: uppercase;
        letter-spacing: -.15rem;
        line-height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        right: .15rem;
        width: 600px;
        &:before {
        	border-top: 1px solid $white;
        	content: "";
        	position: absolute;
        	top: -2rem;
        	left: -2rem;
        	width: 220px;
        	height: 2px;
        }
      }
    }
  }

  .slick-slide {
    background: $pink;
    margin: 0;
    width: 100%;
    height: 650px;
    transition: .3s all;

    &:focus {
      outline: none;
    }
  }

  .slick-next {
    background: none;
    box-shadow: 0 0 0 1px rgba($white, 0.6);
    background-size: 16px;
    background-position: center center;
    border: none;
    border-radius: 0;
    height: 35px;
    right: 0;
    opacity: 1;
    position: absolute;
    top: 46%;
    width: 35px;

    &:before {
      content: "\f105";
      color: rgba($white, 0.85);
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1.5rem;
      height: auto;
      margin-left: 0;
      right: 0;
      width: 20px;
      position: relative;
      top: 33%;
    }

    &:hover, &:focus, &:active {
      background: rgba($pink, 0.25);
      box-shadow: none;
      background-size: 16px;
      background-position: center center;
      cursor: pointer;
    }

  }

  .slick-prev {
    background: none;
    box-shadow: 0 0 0 1px rgba($white, 0.6);
    border: none;
    background-position: center center;
    border-radius: 0;
    height: 35px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 46%;
    width: 35px;
    z-index: 2;

    &:before {
      content: "\f104";
      color: rgba($white, 0.85);
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1.5rem;
      height: auto;
      margin-left: -6px;
      right: 0;
      position: relative;
      top: 33%;
    }

    &:hover, &:focus, &:active {
      background: rgba($pink, 0.25);
      box-shadow: none;
      background-size: 16px;
      background-position: center center;
      cursor: pointer;

    }

  }
}

.slick-prev,
.slick-next {
  font-size: 0;
}