// Home

// body.home {
//   background-image: url("./assets/images/birds.png");
//   background-color: $white;
// }

.par-home-work {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-top: 5px solid $white;
  margin-bottom: 3rem;

  a {
    background: rgba($blue, 0.95);
    color: $white;
    display: block;
    height: 300px;
    padding: 0;
    position: relative;
    width: 80%;
    overflow: hidden;

    &:before {
      background: rgba($black, 1);
      content: "";
      filter: saturate(90%);
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: .2s all ease-in-out;
      transform: translateY(-3rem);
      top: 0;
      width: 100%;
      z-index: 10;
    }

    // span {
    //   background: rgba($dark, .9);
    //   height: 100%;
    //   left: 0;
    //   opacity: 0;
    //   position: absolute;
    //   top: 0;
    //   transform: translateY(-3rem);
    //   transition: .3s all ease-in-out;
    //   width: 100%;
    //   z-index: 20;
    // }

    h2 {
      bottom: inherit;
      color: $white;
      display: inline-block;
      font-size: 1.3rem;
      font-weight: $font-heavy;
      letter-spacing: .25rem;
      line-height: normal;
      left: 0;
      margin: 0 auto;
      opacity: 0;
      padding: 1rem;
      position: absolute;
      right: 0;
      text-transform: uppercase;
      text-align: center;
      top: 25%;
      transition: .3s all;
      width: 50%;
      z-index: 40;

      &:before {
        content: "";
        height: 3px;
        background: $yellow;
        width: 30%;
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }

    &:hover {
      // box-shadow: 0 0 0 3px $pink;

      &:before {
        opacity: .45;
        transform: translateY(0);
      }

      // span {
      //   transform: translateY(0);
      //   opacity: .85;
      // }

      h2 {
        opacity: .8;
        transform: translateY(-5x);
      }
    }

    &:nth-child(2) {
      max-width: 90%;
      height: 350px;

      @media screen and (max-width: $phone-wide) {
        max-width: 100%;
      }
    }

    &:nth-child(4) {
      max-width: 50%;
      height: 290px;

      @media screen and (max-width: $phone-wide) {
        max-width: 100%;
      }
    }

    &:nth-child(odd) {
      max-width: 80%;
      height: 250px;

      @media screen and (max-width: $phone-wide) {
        max-width: 100%;
      }
    }
  }
}