// Home

body.home {
	background: $yellow;
}

.par-home-work {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-top: 5px solid $yellow;
  margin-bottom: 3rem;

  a {
    background: rgba($blue, 0.95);
    color: $white;
    display: block;
    height: 400px;
    padding: 1.25rem;
    position: relative;
    width: 80%;

    &:before {
      background: rgba($dark, 0.5);
      content: "";
      filter: saturate(1);
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: .5s all ease-in-out;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    h2 {
      background: rgba($white, 0.75);
      bottom: inherit;
      top: 0;
      color: $dark;
      display: inline-block;
      font-size: 1rem;
      opacity: 0;
      right: -1rem;
      margin: 0;
      padding: .25rem .5rem;
      position: absolute;
      transition: .3s all;
      right: .25rem;
      text-transform: uppercase;
      z-index: 20;
    }

    &:hover {
      // box-shadow: 0 0 0 3px $pink;

      &:before {
        opacity: .5;
      }

      h2 {
        opacity: .8;
        transform: translateX(0);
      }
    }

    &:nth-child(2) {
      width: 60%;
      height: 300px;
    }

    &:nth-child(odd) {
      width: 80%;
      height: 200px;
    }
  }
}