// Home

body.home {
	background: linear-gradient($pink, $yellow);
}

.par-home-work {
	margin-top: .1rem;
	background: $white;
	padding-left: 0!important;
	padding-right: 0!important;
	a {
		display: block;
		width: 80%;
		height: 400px;
		background: rgba($blue, .95);
		color: $white;
		padding: 2rem;
		font-family: $serif;
		font-size: 1.5rem;

		&:nth-child(2) {
			width: 60%;
			height: 300px;
		}

		&:nth-child(odd) {
			width: 80%;
			height: 200px;
		}
	}
}